
/*Button Styles*/
.button{
    -fx-font-family: Tahoma;
    -fx-font-weight:bold;
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-border-color: grey;
    -fx-effect: dropshadow(gaussian, grey, 10, 0, 0, 1);
    -fx-cursor: hand;
}

.button:hover{
    -fx-font-family: Tahoma;
    -fx-font-weight:bold;
    -fx-font-size: 16px;
}

#btn_add {
    -fx-background-color: yellowgreen;

}

#btn_delete{
    -fx-background-color: crimson;
}

#btn_edit{
    -fx-background-color: goldenrod;
}
#btn_clear{
    -fx-background-color: powderblue;
}

/* LabelStyles*/
.label{
    -fx-font-family: Tahoma;
    -fx-font-size: 14px;

}

#main_label{
    -fx-font-size: 18px;

}
#action_text{
-fx-font-family: Tahoma;
    -fx-font-weight: bold;

}
/*TableView-Styles*/
.table-view{
    -fx-size:16px;
    -fx-font-size:14px;
    -fx-cursor: hand;

}

.table-row-cell:selected {
    -fx-background-color: steelblue;
    -fx-text-background-color: white;
    -fx-font-size: 16px;
}


.text-field:focused{
    -fx-font-family: Tahoma;
    -fx-font-size: 14px;
    -fx-border-color: steelblue;

}